<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjs.daily2discount">

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".ui.activity.DiscountApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent" />

        <!-- ************************** 用户模块 ************************* -->
        <!-- 登陆 -->
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 注册 -->
        <activity
            android:name=".ui.activity.user.RegisterActivity"
            android:screenOrientation="portrait" />

        <!-- ************************** 打折模块 ************************* -->
        <!-- 搜索 -->
        <activity
            android:name=".ui.activity.discount.SearchActivity"
            android:screenOrientation="portrait" />

        <!-- ************************** 公用模块 ************************* -->
        <!-- 条形码扫描 -->
        <activity
            android:name=".ui.activity.common.qrcode.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <!--条形码扫描结果页-->
        <activity android:name=".ui.activity.common.qrcode.ResultActivity"
            android:screenOrientation="portrait" />
        <!--9宫格图片选择页-->
        <activity android:name=".ui.activity.common.picSelected.SelectedPicActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>